{% extends "base.html" %}
{% load static %}
{% block header %}Технологии{% endblock %}
{% load static %}
{% block content %}
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
<div class="row">
    <h1>
        <p>Вот что я умею</p>
        <link rel="stylesheet" href="{% static 'css/color_red.css' %}">
        <line><p>А ничего не умею</p></line>
    </h1>
    <aside class="col-12 col-md-3">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                Python
            </li>
            <li class="list-group-item">
                Django
            </li>
        </ul>
    </aside>

    <article class="col-12 col-md-9">
        <p>Текст страницы "Технологии"</p>
            
            Статья
            Займет всю ширину блока на мобильном<br>
            и 75% при размерах экрана ≥768px
            <br/>
            Боковой блок со списком технологий<br>
            Займет всю ширину блока на мобильном<br>
            и 25% при размерах экрана ≥768px
            <br />
    </article>
</div>
<link rel="stylesheet" href="{% static 'css/bg.css' %}">
{% endblock %}